.advantages
{
  width: 260px;
  margin: 0 auto 26px;
  overflow: hidden;
}


.advantages__title
{
  font-size: 25px;
  line-height: 30px;
  color: #000;
  margin-top: 40px;
  margin-bottom: 35px;
  position: relative;
  top: 13px;
}

.advantages__list
{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.advantages__item
{
  margin-top: 82px;
  margin-left: -10px;
}

.advantages__list
{
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.advantages__item
{
  margin-top: 82px;

&--material::before
{
  content: "";
  position: absolute;
  margin-top: -17px;
  width: 32px;
  height: 37px;
  background: url("../img/icon-feature-flower_colored.svg") no-repeat;
  left: 7px;
}
&--material
{
  width: 175px;
  position: relative;
  bottom: 20px;
  left: 10px;
}
&--price::before
{
  content: "";
  position: absolute;
  margin-top: -15px;
  margin-left: 0px;
  width: 48px;
  height: 37px;
  background: url("../img/icon-feature-money_colored.svg") no-repeat;
}
&--price
{
  width: 200px;
  position: relative;
  bottom: 55px;
  left: 10px;
}

&--photos::before
{
  content: "";
  position: absolute;
  margin-top: -10px;
  margin-left: 5px;
  width: 34px;
  height: 37px;
  background: url("../img/icon-feature-heart_colored.svg") no-repeat;
}
&--photos
{
  width: 180px;
  position: relative;
  left: 10px;
  top: -90px;
}
&--loves::before
{
  content: "";
  position: absolute;
  margin-top: -15px;
  width: 38px;
  height: 37px;
  background: url("../img/icon-feature-ball_colored.svg") no-repeat;
  fill: #63d1bb;
}
&--loves
{
  width: 210px;
  position: relative;
  top: -127px;
  left: 10px;
}
&--support::before
{
  content: "";
  position: absolute;
  margin-top: -10px;
  width: 55px;
  height: 37px;
  background: url("../img/icon-feature-rocket_colored.svg") no-repeat;
  left: -10px;
}
&--support
{
  position: relative;
  top: -165px;
  left: 10px;
}

&--gifts::before
{
  content: "";
  position: absolute;
  margin-top: -10px;
  width: 35px;
  height: 37px;
  background: url("../img/icon-feature-gift_colored.svg") no-repeat;
}
&--gifts
{
  width: 200px;
  position: relative;
  top: -200px;
  left: 10px;
}
}

@media screen and (min-width: $tablet-width)
{

  .advantages {
    height: 700px;
   padding-right: 50px;
   margin-top: -290px;
   padding-bottom: 55px;
}

.advantages {
   width: 768px;
   padding-right: 50px;
   padding-top: 45px;
   padding-bottom: 55px;
}
  .advantages__title
  {
    width: 500px;
    font-size: 43px;
    font-weight: bold;
    line-height: 50px;
    color: #000;
    margin-top: 65px;
    margin-bottom: 52px;
    margin-left: 50px;
  }

  .advantages__list
  {
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 55px;
  }

  .advantages__item
  {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-top: 65px;
    &--material::before
    {
      content: "";
      position: absolute;
      margin-top: -12px;
      width: 32px;
      height: 37px;
      background: url("../img/icon-feature-flower_colored.svg") no-repeat;
      left: 7px;
    }
    &--material
    {
      width: 230px;
      position: relative;
      bottom: 45px;
      left: 10px;
    }
    &--price::before
    {
      content: "";
      position: absolute;
      margin-top: -15px;
      margin-left: 0px;
      width: 48px;
      height: 37px;
      background: url("../img/icon-feature-money_colored.svg") no-repeat;
    }
    &--price
    {
      width: 240px;
      position: relative;
      bottom: 55px;
      left: 10px;
    }

    &--photos::before
    {
      content: "";
      position: absolute;
      margin-top: -6px;
      margin-left: 8px;
      width: 34px;
      height: 37px;
      background: url("../img/icon-feature-heart_colored.svg") no-repeat;
    }
    &--photos
    {
      width: 240px;
      position: relative;
      padding-top: 15px;
    }
    &--loves::before
    {
      content: "";
      position: absolute;
      margin-top: -8px;
      width: 38px;
      height: 37px;
      background: url("../img/icon-feature-ball_colored.svg") no-repeat;
      fill: #63d1bb;
      right: 200px;
    }
    &--loves
    {
      width: 237px;
      position: relative;
      top: -45px;
      left: 30px;
    }
    &--support::before
    {
      content: "";
      position: absolute;
      margin-top: -5px;
      width: 55px;
      height: 37px;
      background: url("../img/icon-feature-rocket_colored.svg") no-repeat;
    }
    &--support
    {
      width: 295px;
      position: relative;
      top: -83px;
      left: 30px;
    }

    &--gifts::before
    {
      content: "";
      position: absolute;
      margin-top: -7px;
      width: 35px;
      height: 37px;
      background: url("../img/icon-feature-gift_colored.svg") no-repeat;
    }
    &--gifts
    {
      width: 240px;
      position: relative;
      left: 30px;
      margin-top: 166px;
    }
  }
}

@media screen and (min-width: $desktop-width)
{

  .advantages {
    padding-top: 56px;
    padding-bottom: 62px;
    margin-left: 180px;
    margin-top: -240px;
  }

  .advantages__title
  {
    font-size: 53px;
    font-weight: bold;
    line-height: 57px;
    color: #000;
    position: relative;
    left: -5px;
  }

  .advantages__list
  {
    position: relative;
  }
}
