.card
{
  display: block;
  margin: 0;
}

.card__title
{
  color: #444444;
  font-size: 25px;
  line-height: 30px;
  margin-top: 35px;
}

.card__marker
{
  color: #63d1bb;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}

.card__description
{
  font-size: 15px;
  color: #464646;
  line-height: 24px;
}

.card-table
{
  display: block;
  margin-bottom: 28px;
}

.card__price
{
  display: block;
  color: #464646;
  font-weight: 700;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 20px;

}
