.catalog-item
{
  padding: 0;
  border: 1px solid #ededed;
  margin-bottom: 28px;
}

.catalog-item__title
{
  width: 170px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;

}

.catalog-item__description
{
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 26px;
}

.catalog-item__image img
{
  width: 260px;
  height: 150px;
}

.catalog-item__price
{
  width: 170px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: $tablet-width)
{
  .catalog-item
  {
    width: 668px;
    height: 335px;
  }

  .catalog-item__title
  {
    float: right;
    padding-right: 30px;
    margin-top: -300px;
    margin-right: -5px;
    width: 227px;
  }

  .catalog-item__image img
  {
    width: 335px;
    height: 335px;
  }

  .catalog-item__description
  {
    float: right;
    width: 221px;
    margin-top: -250px;
    padding-bottom: 150px;
  }

  .catalog-item__price
  {
    float: right;
    margin-top: -80px;
    margin-right: 70px;
  }
}

  @media screen and (min-width: $desktop-width)
  {

    .catalog
    {
      display: flex;
      flex-direction: row;
    }
    .catalog-item
    {
      width: 315px;
      height: 660px;
      margin-right: 34px;
    }

    .catalog-item:nth-child(3)
    {
      margin-right: 0px;
    }

    .catalog-item__image img
    {
      width: 315px;
      height: 460px;
    }

    .catalog-item__title
    {
      width: 225px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: #000;
      text-align:left;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;

    }

    .catalog-item__description
    {
      font-size: 13px;
      line-height: 30px;
      color: #444444;
      text-align:left;
      margin-left: 30px;
      margin-right: 60px;
      border-bottom: 1px solid #ededed;
      padding-bottom: 26px;
      margin-top: 10px;

      &--basket
      {
        margin-top: -1px;
        padding-bottom: 15px;
      }
    }

    .catalog-item__price
    {
      padding-top: 15px;
      margin-top: 0px;
      float: left;
      margin-left: 35px;
    }
}
