.field-checkbox--choice
{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  float: left;
  left: 20px;
}

.field-checkbox
{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.field-checkbox label
{
  padding-left: 25px;
}
