.form__group {
  padding: 0;
  border: none;
}

fieldset
{
  margin: 0;
  padding: 0;
  border: none;
}

legend
{
   margin-bottom: 20px;
  &::before {
   content: "";
   position: absolute;
   margin-top: 10px;
   left: 400px;
   width: 200px;
   height: 2px;
   background: url("../img/layer_form.svg") no-repeat;
   margin-bottom: 20px;
   margin-left: -300px;
 }
}

.form__legend {
  margin-bottom: 27px;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  padding-right: 10px;
}

.form__label-text {
  display: block;
  min-height: 40px;
  margin-bottom: 22px;
  padding-left: 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}

.form__text-input {
  width: 260px;
  height: 53px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__user-message  {
  margin-bottom: 17px;
  font-family: inherit;
  height: 142px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;
  color: #dfdfdf;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 15px;
}

.form__note {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
}

.form__button
{
  width: 260px;
  height: 50px;
  font-size: 17px;
  line-height: 18px;
  padding-left: 37px;
  padding-right: 37px;
  margin-bottom: 55px;
}


@media screen and (min-width: $tablet-width)
{
}

@media screen and (min-width: $desktop-width)
{

}
