.form-main
{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
}

.form-title {
  width: 100%;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 42px;
  padding-right: 42px;
}

.form fieldset
{
  border: none;
  border-top: 1px solid #71d4c0;
  margin-top: 30px;
  margin-bottom: 30px;
}



.form legend {
  margin-bottom: 27px;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: -10px;
  padding-right: 10px;
}

.field-checkbox--choice
{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  float: left;
  left: 20px;
}

.field-checkbox
{
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.field-checkbox label
{
  padding-left: 25px;
}

.form__group {
  padding: 0;
  border: none;
}

.form__legend {
  margin-bottom: 27px;
  text-transform: uppercase;
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-left: -10px;
  padding-right: 10px;
}

.form__label-text {
  display: block;
  min-height: 40px;
  margin-bottom: 22px;
  padding-left: 62px;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form__label {
    font-size: 17px;
  font-weight: 700;
  line-height: 16px;
}

.form__text-input {
  height: 53px;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__user-message {
  margin-bottom: 17px;
  font-family: inherit;
  height: 142px;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;
}

.form__note {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
}
