.main-title
{
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 130px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}


@media screen and (min-width: $tablet-width)
{
  .main-title
  {
    width: 490px;
    font-size: 43px;
    line-height: 50px;
    margin-top: 170px;
    margin-bottom: 380px;
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media screen and (min-width: $desktop-width)
{

}
