<<<<<<< HEAD
.page-main
{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}
||||||| merged common ancestors
=======
.page-main
{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
}


@media screen and (min-width: $tablet-width)
{
  .page-main
  {
    min-width: 768px;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-image: url("../img/hero-desktop.svg");
    background-repeat: no-repeat;
    position: relative;
  }
}

@media screen and (min-width: $desktop-width)
{
  .page-main
  {
    min-width: 1050px;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    position: relative;
  }
}
>>>>>>> module4-task1
