.production
{
  width: 260px;
  background-color: #fff;
  padding: 0;
  border: 1px solid #ededed;
  margin-bottom: 28px;
}

.production__title
{
  width: 170px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;

}

.production__description
{
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  text-align:left;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 26px;
}

.production__button
{
font-size: 17px;
color: #464646;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
border: 2px solid #464646;
background-color: #fff;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
margin-top: 20px;
margin-left: 30px;
margin-bottom: 35px;
}

@media screen and (min-width: $tablet-width)
{
  .production
  {
    width: 668px;
    height: 742px;
  }


  .production__video img
  {
    width: 668px;
    height: 450px;
  }
}

@media screen and (min-width: $desktop-width)
{
  .production
  {
    width: 1020px;
    height: 450px;
  }
  .production__video
  {
    margin-top: 0px;
  }

  .production__title
  {
    float: right;
    padding-right: 30px;
    margin-top: 70px;
    margin-right: 50px;
  }

  .production__video img
  {
    width: 680px;
    height: 450px;
  }

  .production__description
  {
    float: right;
    width: 221px;
    margin-top: -320px;
  }

  .production__button
  {
    float: right;
    margin-top: -120px;
    margin-right: 50px;
  }
}
