.site-button
{
font-size: 17px;
color: #464646;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
border: 2px solid #464646;
background-color: #fff;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 25px;
padding-right: 25px;
margin-top: 20px;
margin-left: 30px;
margin-bottom: 35px;
}
