.second-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0;
}

.second-nav__wrapper
{
  width: 100%;
  margin: 0 auto;
}

.second-nav__list-item {
  &--home {
    background-color: #63d1bb;
  }
  &--toys {
    background-color: #56c3b2;
  }
}

.second-nav__list
{
   display: flex;
   flex-direction: column;
   margin-top: -15px;
}

.second-nav__list-item
{
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 28px;
  position: relative;
  top:-80px;
}

.second-nav__list-item--toys
{
  padding-bottom: 25px;
}

.second-nav-element__text
{
  width: 110px;
  padding-left: 30px;
  position: relative;
  bottom: 5px;
  &--toys
  {
    position: relative;
    bottom: 10px;
  }
}

.second-nav-element__img-lamp
{
  background: url("../img/interior.svg") no-repeat;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  position: relative;
  top: -25px;
  left: 110px;
}

.second-nav-element__img-toys
{
  background: url("../img/toy-svg.svg") no-repeat;
  padding-left: 100px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  position: relative;
  top: -30px;
  left: 115px;
}

@media screen and (min-width: $tablet-width)
{
  .second-nav__list
  {
     display: flex;
     flex-direction: row;
     margin-top: -95px;
     width: 668px;
  }

  .second-nav__list-item
  {
    width: 350px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 28px;
    position: relative;
    top:-80px;
  }

  .second-nav-element__text
  {
    width: 110px;
    &--home
    {
      position: relative;
      right: 20px;
    }

    &--toys
    {
      position: relative;
      right: 30px;
      top: -6px;
    }
  }

  .second-nav-element__img-lamp
  {
    background: url("../img/interior.svg") no-repeat;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
    top: -30px;
    left: 80px;
  }

  .second-nav-element__img-toys
  {
    background: url("../img/toy-svg.svg") no-repeat;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
    top: -30px;
    left: 110px;
  }
}
@media screen and (min-width: $desktop-width)
{


  .second-nav__wrapper
  {
    margin: 0 auto;
    margin-left: -240px;
  }

  .second-nav__list
  {
     display: flex;
     flex-direction: row;
     &::after
     {
       content: "";
       display: block;
       height: 70px;
       background-image: url('/img/bg-zigzag-fill.svg');
       background-repeat: no-repeat;
       background-position: center bottom;
     }
  }

  .second-nav__list-item
  {
    width: 540px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 28px;
    position: relative;
    &::after
    {
      content: "";
      display: block;
      height: 70px;
      background-image: url("/img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      position: relative;
      top: 40px;
      right: 35px;
      width: 625px;
    }
  }

  .second-nav-element__text
  {
    width: 110px;
  }

  .second-nav-element__img-lamp
  {
    background: url("../img/interior.svg") no-repeat;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
    top: -30px;
    left: 300px;
  }

  .second-nav-element__img-toys
  {
    background: url("../img/toy-svg.svg") no-repeat;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    position: relative;
    top: -30px;
    left: 300px;
  }
}
