$grey-border: #ececec;
$grey-categories: #ffffff;
$black: #000;
$color-text: #444444;
$aquamarine-lighter: #62d1ba;

$mobile-width-only: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
